@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

.text-secondary {
  color: #707070;
}

.text-primary {
  color: #3D82F2;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

/* For Firefox */
* {
  scrollbar-color: #666 #333;
  scrollbar-width: thin;
}